<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ryerson.scs.rus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        >
        <activity
            android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="ca.ryerson.scs.rus.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".socialite.SocialiteListActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="ca.ryerson.scs.rus.socialite.SOCIALITE_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".socialite.SocialiteMapActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="ca.ryerson.scs.rus.socialite.SOCIALITE_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
        
        <activity
            android:name=".messenger.FriendsListActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="ca.ryerson.scs.rus.messenger.FRIENDS_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                
		
        <activity
            android:name=".messenger.MessageActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="ca.ryerson.scs.rus.messenger.MESSAGES_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Preferences"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="ca.ryerson.scs.rus.PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
        <activity
            android:name=".messenger.ProfileActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="ca.ryerson.scs.rus.messenger.PROFILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>            
    </application>

</manifest>