<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @send_username_find_message.username %>
</p>


<%= link_to 'Edit', edit_send_username_find_message_path(@send_username_find_message) %> |
<%= link_to 'Back', send_username_find_messages_path %>
